@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="row justify-content-lg-between">
    <div class="col-lg-2">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Reset Password</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input class="form-control" asp-for="Password">
                <span class="text text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input class="form-control" asp-for="ConfirmPassword">
                <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-area="manage" asp-controller="user" asp-action="index" class="btn btn-primary">Go Back</a>
        </form>
    </div>
</div>

@section Script{

    <partial name="_ValidationPartial">
}
